*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #eff1f4;
    padding: 15px;
}

article{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

input{
    width: 400px;
    height: 35px;
    padding-left: 10px;
}

button{
    height: 35px;
    width: 45px;
    background-color: orange;
    border: none;
    cursor: pointer;
} 